@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
  margin: 0px;
  padding:0px;
  font-family: "Poppins", sans-serif;
}
.App{
  display:flex;
  flex-direction: column;
  max-height: 100vh;
  width:100vw;
  height:100vh;
  background-color: #6E5C62;
}

.App nav{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:2em;
  text-transform: uppercase;
  color:#FAFAFF;
}

.author{
  font-size:0.45em;
  font-family: 'Poppins';
  margin-left:3px;
}